<%= link_to "Home", root_path, class: 'btn btn-primary' %>

<div class="bold-label">
  <h1>Compartment</h1>
</div>
<p class="weight-info">
    (Animal) : <%= @weight.animal_name %><br>
    (Organ) : <%= @weight.organ_name %><br>
    (Parameter) : <%= @weight.parameter.name %>
</p>

<div class="bold-label">
  <h1>Sources</h1>
</div>
  <% i = 0 %>
  <% @citations.each do |citation| %>
    <% i = i + 1 %>
    <div class="mini-citation">
      (<%= i %>) <%= citation.author_name %> et al. (<%= citation.year %>)
    </div>
  <% end %>


<div class="bold-label">
  <h1>Full Citations</h1>
</div>
  <% i = 0 %>
  <% @citations.each do |citation| %>
    <% i = i + 1 %>
    <p class="hanging-indent">
      (<%= i %>) <%= citation.all_text %><br><br>
    </p>
  <% end %>


<style>
  body {
    background-color: mediumpurple;
  }
</style>