<h1>Publication<%= ' #'"#{@publication.reference_number}" %></h1>
<p><%= "Author: " %><%= @publication.authors.first.name %></p>
<p><%= "Year: " %><%= @publication.year %></p>
<p><%= "Reference Number: " %><%= @publication.reference_number %></p>