<!--locals: { current_animal, animals, parameter }-->
<%= form_with(local: true, remote: false, url: home_set_animal_path) do |f| %>
  <%= f.hidden_field :parameter_id, :value => parameter.try(:id) %>
  <div class="card animal">
    <article class="card-group-item">
      <header class="card-header">
        <h6 class="title">Animal</h6>
      </header>
      <div class="filter-content">
        <div class="card-body-animal">
          <% Animal.all.each do |animal| %>
            <% css_class = animal_indent_class(animal) %>
            <% if css_class %>
              <div class="<%= css_class %>">
                <% if animals.include?(animal) %>
                  <div class="radio-button-btn-wrapper mr-2">
                    <%= f.radio_button :animal_id, "#{animal.id}", checked: current_animal == animal, class: "radio-button-btn-animal background-red" %>
                    <%= label_tag :animal_id, animal.name, class: "radio-button-btn-label white enabled" %>
                  </div>
                <% else %>
                  <div class="radio-button-btn-wrapper mr-2">
                    <%= f.radio_button :animal_id, "#{animal.id}", checked: current_animal == animal, class: "radio-button-btn-animal background-red", disabled: true %>
                    <%= label_tag :animal_id, animal.name, class: "radio-button-btn-label white disabled" %>
                  </div>
                <% end %>
              </div>
            <% else %>
              <% if animals.include?(animal) %>
                <div class="radio-button-btn-wrapper mr-2">
                  <%= f.radio_button :animal_id, "#{animal.id}", checked: current_animal == animal, class: "radio-button-btn-animal background-red" %>
                  <%= label_tag :animal_id, animal.name, class: "radio-button-btn-label white enabled" %>
                </div>
              <% else %>
                <div class="radio-button-btn-wrapper mr-2">
                  <%= f.radio_button :animal_id, "#{animal.id}", checked: current_animal == animal, class: "radio-button-btn-animal background-red", disabled: true %>
                  <%= label_tag :animal_id, animal.name, class: "radio-button-btn-label white disabled" %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </article>
  </div>
  <%= f.submit '', class: 'd-none', id: 'submitMyForm-animal' %>
<% end %>