<%= form_with(local: true, remote: false, url: set_animal_url) do |f| %>
  <div class="card animal">
    <article class="card-group-item">
      <header class="card-header">
        <h6 class="title">Animal</h6>
      </header>
      <div class="filter-content">
        <div class="card-body">
          <% Animal.all.each do |animal| %>
            <% css_class = animal_indent_class(animal) %>
            <% if css_class %>
              <div class="<%= css_class %>">
                <div class="radio-button-btn-wrapper mr-2">
                  <%= f.radio_button :animal_id, "#{animal.id}", class: "radio-button-btn background-red" %>
                  <%= label_tag :anim_id, animal.name, class: "radio-button-btn-label white" %>
                </div>
              </div>
            <% else %>
              <div class="radio-button-btn-wrapper mr-2">
                <%= f.radio_button :animal_id, "#{animal.id}", class: "radio-button-btn background-red" %>
                <%= label_tag :animal_id, animal.name, class: "radio-button-btn-label white" %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </article>
  </div>
  <%= f.submit '', class: 'd-none', id: 'submitMyForm' %>
<% end %>