<!--locals: { animal, parameter }-->
<% if animal.present? && parameter.present? %>
  <% has_pc = has_production_class_info?(animal) %>
  <% has_range_info = animal.has_range_info?(parameter) %>

  <table id="t01">
    <h1><%= animal.name %></h1>

    <tr>
      <% if has_pc %>
        <th>Production Class</th>
      <% end %>

      <th>Mean</th>
      <th>SD</th>
      <th>Sample Size</th>
      <th>Number of Studies</th>

      <% if has_range_info %>
        <th>Range</th>
      <% end %>

      <th>References</th>
    </tr>

    <% animal.weights_for_parameter(parameter).each do |weight| %>
      <tr>
        <% if has_pc %>
          <td><%= weight.production_class %></td>
        <% end %>

        <td><%= weight.mean %></td>
        <td><%= weight.standard_deviation %></td>
        <td><%= weight.sample_size %></td>
        <td><%= weight.number_of_studies %></td>

        <% if has_range_info %>
          <td><%= weight.range %></td>
        <% end %>

        <td><%= citation_link(weight) %></td>
      </tr>
    <% end %>
  </table>
<% end %>