<h1 class="headline">
  <%= "Physiological Parameters" %>
  <%= link_to "Clear All Filters", root_path, class: 'btn btn-primary' if filters_exist? %>
</h1>

<hr>

<div class="row">
  <div class="animal">
    <% if @parameter && @animal.nil? %>
      <%= render :partial => 'shared/animal_radio_box_form_filtered', locals: { animals: @animals, parameter: @parameter } %>
    <% else %>
      <%= render :partial => 'shared/animal_radio_box_form', locals: { current_animal: @animal, animals: @animals, parameter: @parameter } %>
    <% end %>
  </div>
  <div class="parameter">
    <%= render :partial => 'shared/parameter_radio_box_form', locals: { current_parameter: @parameter, animal: @animal, parameters: @parameters } %>
  </div>
</div>

<%= render :partial => 'shared/organ_filter_form', locals: { animal: @animal, parameter: @parameter } %>

<script>
    document.addEventListener('click', function(event){
        if(event.target.classList.contains('radio-button-btn-animal')) {
            document.querySelector('#submitMyForm-animal').click();
        }
    });
    document.addEventListener('click', function(event){
        if(event.target.classList.contains('radio-button-btn-param')) {
            document.querySelector('#submitMyForm-param').click();
        }
    });
</script>

<style>
  body {
    background-color: lightskyblue;
  }
</style>