<!DOCTYPE html>
<html>
  <head>
    <title>K-State PBPK Modeling</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

  <header>
    <div class="logo-container">
      <%= image_tag("k-state-purple.png", alt: "Edit Entry", class: 'logo') %>

      <div class="introduction-text">
        <div class="in-small-caps">
          <%= "Physiological Parameters " %>
        </div>

        <div class="in-small-caps">
          <%= "for PBPK Modeling in Food Animals" %>
        </div>
        
        <div class="reset-filters">
          <%= link_to("Reset Filters", root_path, class: 'btn btn-danger btn-lg') if filters_exist? %>
        </div>
      </div>
    </div>
  </header>

  <hr>

  <body>
    <%= yield %>
  </body>

  <br>

  <div class="footer">
    <%= copyright_statement %>
  </div>
</html>
